<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <!-- Log configuration for Docker profile -->
    <springProfile name="docker">

        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <logLevel/>
                    <threadName/>
                    <loggerName/>
                    <pattern>
                        <pattern>
                            {
                              "application_name": "${springAppName:-}",
                              "tracing": {
                                "trace_id": "%X{X-B3-TraceId:-}",
                                "span_id": "%X{X-B3-SpanId:-}",
                                "parent_span_id": "%X{X-B3-ParentSpanId:-}",
                                "exportable": "%X{X-Span-Export:-}"
                              },
                              "pid": "${PID:-}",
                              "class": "%logger{40}"
                            }
                        </pattern>
                    </pattern>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="jsonConsoleAppender"/>
        </root>

    </springProfile>

    <!-- Log configuration for non-Docker profile -->
    <springProfile name="!docker">

        <property name="CONSOLE_LOG_PATTERN"
                  value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

        <appender name="flatConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="flatConsoleAppender"/>
        </root>

    </springProfile>

</configuration>